html, body {
    background-color: rgb(59,66,116);
    box-sizing: border-box;
}
.container {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%);

    .header {
        position: relative;
        font-size: 28px;
        color: white;

        #start-btn {
            cursor: pointer;
            padding: 9px 15px;
            font-size: 18px;
            background-color: transparent;
            // border: 2px solid #e3c1a4;
            border: none;
            color:  #e3c1a4;
            transition: .4s ease-in-out;
            margin: 0 10px;

            &:hover {
                // border: 2px solid #e3c1a4;
                // background-color: rgba(227,193,164, 0.7);
                color: #ffdb00;
            }

            &:focus {
                outline: none;
            }
        }

        #strict-btn {
            cursor: pointer;
            padding: 9px 18px;
            font-size: 18px;
            background-color: transparent;
            border: 2px solid #e3c1a4;
            color:  #e3c1a4;
            transition: .4s ease-in-out;

            &.on-strict {
                border: 2px solid rgb(255,50,50);
                color: rgb(255,50,50);
                transition: .4s ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }

        #reset-btn {
            display: none;
            position: relative;
            left: 40px;
            cursor: pointer;
            padding-left: 0;
            font-size: 22px;
            background-color: transparent;
            border: none;
            color:  #e3c1a4;
            transition: .4s ease-in-out;

            &:hover {
                color: greenyellow;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .buttons {
        margin-top: 50px;

        #b1 {
            cursor: pointer;
            background-color: blue;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #2c2c2d;
            margin: 25px 25px;

            &.hover {
                background-color: darken(blue, 20%);
            }

            &:focus {
                outline: none;
            }
        }

        #b2 {
            cursor: pointer;
            background-color: green;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #2c2c2d;
            margin: 25px 25px;

            &.hover {
                background-color: darken(green, 20%);
            }
            
            &:focus {
                outline: none;
            }
        }
        #b3 {
            cursor: pointer;
            background-color: red;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #2c2c2d;
            margin: 25px 25px;          

            &.hover {
                background-color: darken(red, 20%);
            }

            &:focus {
                outline: none;
            }
        }
        #b4 {
            cursor: pointer;
            background-color: yellow;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #2c2c2d;
            margin: 25px 25px;

            &.hover {
                background-color: darken(yellow, 20%);
            }       
            
            &:focus {
                outline: none;
            }
        }
    }
}