.container {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%);

    .buttons {
        margin-top: 50px;

        #b1 {
            cursor: pointer;
            background-color: blue;
            padding: 35px;
            border-radius: 50%;

            &.hover {
                background-color: darken(blue, 20%);
            }

            &:hover {
                background-color: darken(blue, 10%);
            }
        }

        #b2 {
            cursor: pointer;
            background-color: green;
            padding: 35px;
            border-radius: 50%;

            &.hover {
                background-color: darken(green, 20%);
            }

            &:hover {
                background-color: darken(green, 10%);
            }
        }
        #b3 {
            cursor: pointer;
            background-color: red;
            padding: 35px;
            border-radius: 50%;

            &.hover {
                background-color: darken(red, 20%);
            }

            &:hover {
                background-color: darken(red, 10%);
            }
        }
        #b4 {
            cursor: pointer;
            background-color: yellow;
            padding: 35px;
            border-radius: 50%;

            &.hover {
                background-color: darken(yellow, 20%);
            }
            &:hover {
                background-color: darken(yellow, 10%);
            }
        }
    }
}