html, body {
    background-color: #101f41;
    box-sizing: border-box;
}
.container {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 30%;
    left: 50%;
    transform: translate(-50%);

    .header {
        position: relative;
        font-size: 28px;
        color: white;

        #start-btn {
            cursor: pointer;
            padding: 9px 15px;
            font-size: 18px;
            background-color: transparent;
            // border: 2px solid #e3c1a4;
            border: none;
            color:  #e3c1a4;
            transition: .4s ease-in-out;
            margin: 0 10px;

            &:hover {
                // border: 2px solid #e3c1a4;
                // background-color: rgba(227,193,164, 0.7);
                color: #ffdb00;
            }

            &:focus {
                outline: none;
            }
        }

        #strict-btn {
            cursor: pointer;
            padding: 7px 16px;
            font-size: 16px;
            background-color: transparent;
            border: 2px solid #e3c1a4;
            color:  #e3c1a4;
            transition: .4s ease-in-out;

            &.on-strict {
                border: 2px solid rgb(255,50,50);
                color: rgb(255,50,50);
                transition: .4s ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }

        #reset-btn {
            display: none;
            position: relative;
            left: 40px;
            cursor: pointer;
            padding-left: 0;
            font-size: 22px;
            background-color: transparent;
            border: none;
            color:  #e3c1a4;
            transition: .4s ease-in-out;

            &:hover {
                color: greenyellow;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .buttons {
        margin-top: 50px;

        #b1 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #07ecff;
            margin: 25px 25px;
            transition: .3s ease-in-out;

            &:hover {
                border: 3px solid #03767f
            }

            &.hover {
                background-color: #07ecff;
                transition: .3s ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }

        #b2 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #1bf456;
            margin: 25px 25px;
            transition: .3s ease-in-out;

            &:hover {
                border: 3px solid #0d7a2b;
            }

            &.hover {
                background-color: #1bf456;
                transition: .3s ease-in-out;
            }
            
            &:focus {
                outline: none;
            }
        }
        #b3 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #ff4e4e;
            margin: 25px 25px; 
            transition: .3s ease-in-out;         

            &:hover {
                border: 3px solid #7f2727;
            }

            &.hover {
                background-color: #ff4e4e;
                transition: .3s ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }
        #b4 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #e2f63b;
            margin: 25px 25px;
            transition: .3s ease-in-out;

            &:hover {
                border: 3px solid #717b1d;
            }

            &.hover {
                background-color: #e2f63b;
                transition: .3s ease-in-out;
            }       
            
            &:focus {
                outline: none;
            }
        }
    }
}