html, body {
    background-color: #101f41;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 10%;
    left: 50%;
    transform: translate(-50%);

    @media only screen and (max-width: 600px) {
        top: 5%;
    }
    
    h1 {
        font-family: 'Pacifico', cursive;
        font-size: 55px;
        font-weight: 500;
        color: #c1bcf9;
        text-shadow: 1px 2px 2px #101f41;

        @media only screen and (max-width: 600px) {
        font-size: 40px;
        }
    }

    .header {
        position: relative;
        font-size: 28px;
        color: white;
        font-weight: 300;

        #count {
            display: inline-block;
            margin-right: 10px;
        }

        #start-btn {
            cursor: pointer;
            padding: 7px 16px;
            font-size: 18px;
            background-color: transparent;
            border: 2px solid transparent;
            color: #e3c1a4;
            transition: .4s ease-in-out;
            margin: 0 5px;
            font-weight: 300;

            @media only screen and (max-width: 600px) {
                display: block;
                text-align: center;
                margin: 0 auto;
                margin-bottom: 10px;
            }

            &.on-start {
                border: 2px solid #4ca64c;
                color: #4ca64c;
            }

            &:hover {
                border: 2px solid #4ca64c;
                color: #4ca64c;
            }

            &:focus {
                outline: none;
            }
        }

        #strict-btn {
            cursor: pointer;
            padding: 7px 16px;
            font-size: 18px;
            background-color: transparent;
            border: 2px solid transparent;
            color: #e3c1a4;
            transition: .4s ease-in-out;
            font-weight: 300;

            @media only screen and (max-width: 600px) {
                display: block;
                text-align: center;
                margin: 0 auto;
            }

            &.on-strict {
                border: 2px solid rgb(255,50,50);
                color: rgb(255,50,50);
                transition: .4s ease-in-out;
            }

            &:hover {
                border: 2px solid rgb(255,50,50);
                color: rgb(255,50,50);
            }

            &:focus {
                outline: none;
            }
        }

        #reset-btn {
            display: none;
            position: relative;
            left: 40px;
            cursor: pointer;
            padding-left: 0;
            font-size: 22px;
            background-color: transparent;
            border: none;
            color:  #e3c1a4;
            transition: .4s ease-in-out;
  
             @media only screen and (max-width: 600px) {
                text-align: center;
                margin: 0 auto;
                left: 0;
                top: 20px;
            }           

            &:hover {
                color: greenyellow;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .buttons {
        margin-top: 50px;

        #b1 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #07ecff;
            margin: 25px 25px;
            transition: .3s ease-in-out;

            &:hover {
                border: 3px solid #03767f
            }

            &.hover {
                background-color: #07ecff;
                transition: .3s ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }

        #b2 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #1bf456;
            margin: 25px 25px;
            transition: .3s ease-in-out;

            &:hover {
                border: 3px solid #0d7a2b;
            }

            &.hover {
                background-color: #1bf456;
                transition: .3s ease-in-out;
            }
            
            &:focus {
                outline: none;
            }
        }
        #b3 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #ff4e4e;
            margin: 25px 25px; 
            transition: .3s ease-in-out;         

            &:hover {
                border: 3px solid #7f2727;
            }

            &.hover {
                background-color: #ff4e4e;
                transition: .3s ease-in-out;
            }

            &:focus {
                outline: none;
            }
        }
        #b4 {
            cursor: pointer;
            background-color: transparent;
            padding: 40px;
            border-radius: 50%;
            border: 3px solid #e2f63b;
            margin: 25px 25px;
            transition: .3s ease-in-out;

            &:hover {
                border: 3px solid #717b1d;
            }

            &.hover {
                background-color: #e2f63b;
                transition: .3s ease-in-out;
            }       
            
            &:focus {
                outline: none;
            }
        }
    }
}
